.main__section-four{
  /* border: solid red 2px; */
  min-height: 60vh ;
  width: 100%;
  opacity: 0;
  display: flex;
  transform: translateY(30px);
}
.main .main__section-four.fade-section{
  opacity: 1;
  transition: opacity 1s ease, transform 1s ease;
  transform: translateY(0);
}
.main__section-box-images{
 /* border: orange 1px solid ; */
 width: 40%;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;

}
.main__section-box-images .main__section-box-default{
  width: 40%;
}
.main__section-box-text{
 /* border: solid blue 1px;  */
 display: flex;
 flex-direction: column;
 /* align-items: flex-end; */
 width: 60%;
 margin-right: 0; 
}
.main__section-box-text h2{
  color: #fff;
  font-size: clamp(2.0rem, 3.5vw, 7rem);
  row-gap: 15px;
  padding-right: 1rem;
  margin-bottom: 1rem;

}
.main__section-box-text h3 {
  color: #fff;
  font-size: clamp(1.0rem, 1.8vw, 5rem);
  padding-right: 1rem;
  /* font-weight:200; */
  margin-bottom: 1rem;
}
.main__section-box-text p{
   color: #fff;
   font-size: clamp(1rem, 1.6vw, 5rem);
  margin-bottom: 1rem;
  margin-left: 1.2rem;
  padding-right: 1rem;
}
