.section-courses{
  height: auto;
  display: flex;
  justify-content: space-between;
  column-gap: 0.75rem;
  row-gap: 0.75rem;
  flex-wrap: wrap;
  padding: 1rem;  
}

.section-courses-title{
  padding-left: 2rem;
  width: 400px;
}
.section-courses-title h2{
  color: #fff;
  font-size: clamp(2.0rem, 3.5vw, 7rem);
}
.section-courses-title p{
  color: #fff;
  font-size: clamp(1rem, 1.6vw, 5rem);
}
.section-courses-imgs{
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;

}